
body{
    
    main{
        position: relative;
    }

    .bowlArea{
        position: absolute;
        z-index: 1;
        top: 5%;
        right:5%;
        display: flex;
        flex-direction: column-reverse;

        p{
            /* position: absolute;
            z-index: 1; */
            padding: 1rem;
            background-color: rgb(255, 251, 247);
            border: 0.2rem solid rgb(181, 181, 181);
            border-radius: 2rem;
        }

        img{
            height: 3rem;
        }
    }

    .fishBowl{
        height: 10rem;
        overflow: hidden;
        width: 10rem;
        padding-block-start: 1rem;
        border-top: 0rem;
        border-radius: 5rem;
        border-block-start: none;
        /* border: 0.2rem solid rgba(144, 200, 200, 0.562); */
        display: flex;
        flex-direction: column-reverse;
        background-color: rgba(226, 250, 250, 0.562);
        mask-image: linear-gradient(
            0deg,
            black 0 9rem,
            transparent 1px 200px
            );
        /* clip-path: ellipse(50% 40% at 50% 50%); */
        /* mask-composite: exclude; */
         /* mask-image: radial-gradient(black 50%, transparent 60%); */


        li{
            background-color: #CFF6F6;
            height: 0.1rem;
            width: 100%;
        }

        li:first-child{
            background-color: #B1DEDF;
            position: relative;
            border-radius: 10rem;
        }

        /* li:first-child::before{
            content: " hello";
            display: block;
            width: 100%;
            height: 0.1rem;
            background: rgb(255, 0, 0);
        } */

        /* .waterTop{
            background-color: #B1DEDF;
            border-radius: 10rem;
        } */

        .fish{
            position: absolute;
            left: 50%;
            top: 2rem;
            z-index: 1;
            /* background-image: url(/images/fish.png); */
        }

        .grass{
            position: absolute;
            width: 5rem;
            height: 6rem;
            left: 19%;
            top: 2.5rem;
        }

        li:has(img) {
            background-color: rgba(85, 181, 181, 0.419);
            /* border-top-left-radius: 150rem; */
            /* border-top-right-radius: 150rem; */
            border-radius: 100%;
            transform: translateY(50%);
            height: 1rem;
        }
        
    }

    
    .mask-source{
        mask-image: url("/images/bowl-mask.svg");
        mask-mode: alpha;
    }
    
}


/* ANIMATIONS */

/* Bowl first appears */
@keyframes bowlAppear {
    from {
        /* top: -1rem; */
        scale: 0;
    }
    to{
        /* top: 5%; */
        scale: 1;
    }
}

.applyBowlAppear{
    animation: bowlAppear;
    animation-duration: 0.3s;
}




/* Bowl shake on message sent */
/* got the animation from here https://codepen.io/EeKay/pen/OJBMpxK  */
@keyframes shake {
    0% { transform: translateX(0) }
    25% { transform: translateX(0.5rem) }
    50% { transform: translateX(-0.5rem) }
    75% { transform: translateX(0.5rem) }
    100% { transform: translateX(0) }
    }

.applyShake {
animation: shake;
animation-duration: 0.4s;
}


/* Fish swim across the bowl and back */
@keyframes fishMove {
        from {
    left: 6rem;
  }
  50%{
    left: 0;
  }
  51%{
    left: -1rem;
    transform: scaleX(1);
  }
  54%{
    left:-1rem;
    transform: scaleX(-1);
  }

  96%{
    left: 7rem;
    transform: scaleX(-1);
  }
  98.9%{
    left: 7rem;
    transform: scaleX(1);
  }
  99%{
    left:6rem;
  }

  to {
    left: 6rem;
  }
}

.applyFishMove {
    animation-name: fishMove;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Fish swim frantic when water level is very low */
@keyframes fishShake {
        from {
            top:7rem ;
            
    left: 6rem;
  }
  50%{
    left: 0;
  }
  51%{
    left: -1rem;
    transform: scaleX(1);
  }
  54%{
    left:-1rem;
    transform: scaleX(-1);
  }

  96%{
    left: 7rem;
    transform: scaleX(-1);
  }
  98.9%{
    left: 7rem;
    transform: scaleX(1);
  }
  99%{
    top:7rem ;
    left:6rem;
  }

  to {
    top:8rem ;
    left: 6rem;
  }
}

.applyFishShake{
    animation-name: fishShake;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Fixing the position of fish when it dies */
.deadFishPosition{
    top: 7.5rem;
    left: 3rem;
}

