@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&display=swap');

body{
    font-family: "Inclusive Sans", sans-serif;
    main{
        position: relative;
    }

    .bowlArea{
        position: absolute;
        z-index: 1;
        top: 5%;
        right:5%;
        pointer-events: none;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        p{
            /* position: absolute;
            z-index: 1; */
            /* padding: 1rem;
            background-color: rgb(255, 251, 247);
            border: 0.2rem solid rgb(181, 181, 181);
            border-radius: 2rem; */
        }
        .waterNotif,p{
            color: #1D7A7A ;
            padding: 0.2rem;
            font-size: 1rem;
            font-weight: 500;
            border-radius:0.4rem;
            border: 0.4rem solid #B6E3E3;
            background: #EEFCFC;
            width: fit-content;
            align-items: center;
        }

        /* .grass {
            mask-image: radial-gradient(ellipse at center, black 70%, transparent 71%);
        } */
    }

    .fishBowl{
        height: 10rem;
        overflow: hidden;
        width: 10rem;
        padding-block-start: 1rem;
        border-top: 0rem;
        border-radius: 5rem;
        border-block-start: none;
        /* border: 0.2rem solid rgba(144, 200, 200, 0.562); */
        background-color: rgba(226, 250, 250, 0.562);
        mask-image: linear-gradient(
            0deg,
            black 0 9rem,
            transparent 1px 200px
            );
        
    }

    .water{
      height: 100%;
      display: flex;
      justify-content: end;
      flex-direction: column;

      .waterTop{
          background-color: #B1DEDF;
          height: 1rem;
          border-radius: 100rem;
          transform: translateY(0.5rem);
        mask-image: radial-gradient(ellipse 60% 40% at 50% 50%, black 100%, transparent 100%);
      }


      .waterLevel{
        background-color: #CFF6F6;
        height: 80%;
        width: 100%;
      }
    }

    .innerBowl {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      .fish{
          height: 3rem;
          position: relative;
          top: 30%;
          pointer-events: all;
      }

      .applyFishShake{
        animation-name: fishShake;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }

      /* Fixing the position of fish when it dies */
      .deadFishPosition{
        top: 7.5rem;
        left: 3rem;
      }
      .grass{
          position: absolute;
          width: 5rem;
          height: 6rem;
          top: 5.1rem;
          left: 14%;
      }
    }
    
}


/* ANIMATIONS */

/* Bowl first appears */
@keyframes bowlAppear {
    from {
        /* top: -1rem; */
        scale: 0;
    }
    to{
        /* top: 5%; */
        scale: 1;
    }
}

.applyBowlAppear{
    animation: bowlAppear;
    animation-duration: 0.3s;
}


/* Water level notification */
@keyframes waterNotifAppear {
    0% { transform: translateY(0) }
    25% { transform: translateY(0.5rem) }
    50% { transform: translateY(-0.5rem) }
    75% { transform: translateY(0.5rem) }
    100% { transform: translateY(0) }
}

.applywaterNotifAppear{
    animation: waterNotifAppear;
    animation-duration: 0.4s;
}

/* Bowl shake on message sent */
/* got the animation from here https://codepen.io/EeKay/pen/OJBMpxK  */
@keyframes shake {
    0% { transform: translateX(0) }
    25% { transform: translateX(0.5rem) }
    50% { transform: translateX(-0.5rem) }
    75% { transform: translateX(0.5rem) }
    100% { transform: translateX(0) }
    }

.applyShake {
animation: shake;
animation-duration: 0.4s;
}


/* Fish swim across the bowl and back */
@keyframes fishMove {
        from {
    left: 6rem;
  }
  50%{
    left: 0;
  }
  51%{
    left: -1rem;
    transform: scaleX(1);
  }
  54%{
    left:-1rem;
    transform: scaleX(-1);
  }

  96%{
    left: 7rem;
    transform: scaleX(-1);
  }
  98.9%{
    left: 7rem;
    transform: scaleX(1);
  }
  99%{
    left:6rem;
  }

  to {
    left: 6rem;
  }
}

.applyFishMove {
    animation-name: fishMove;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Fish swim frantic when water level is very low */
@keyframes fishShake {
        from {
            /* top:7rem ; */
            
    left: 6rem;
  }
  50%{
    left: 0;
  }
  51%{
    left: -1rem;
    transform: scaleX(1);
  }
  54%{
    left:-1rem;
    transform: scaleX(-1);
  }

  96%{
    left: 7rem;
    transform: scaleX(-1);
  }
  98.9%{
    left: 7rem;
    transform: scaleX(1);
  }
  99%{
    /* top:7rem ; */
    left:6rem;
  }

  to {
    /* top:8rem ; */
    left: 6rem;
  }
}

/* Initial fish scare  */
@keyframes initialFishShake {
           from {
            /* top:2rem ; */
            
    left: 6rem;
  }
  50%{
    left: 0;
  }
  51%{
    left: -1rem;
    transform: scaleX(1);
  }
  54%{
    left:-1rem;
    transform: scaleX(-1);
  }

  96%{
    left: 7rem;
    transform: scaleX(-1);
  }
  98.9%{
    left: 7rem;
    transform: scaleX(1);
  }
  99%{
    /* top:2rem ; */
    left:6rem;
  }

  to {
    /* top:2rem ; */
    left: 6rem;
  }
    }

.applyInitialFishShake{
animation: initialFishShake;
animation-duration: 0.8s;
animation-iteration-count: 2;
}